/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.card {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4e5;
  /* border-radius: 15px; */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  /* border: 1px rgb(104, 27, 175) solid; */
}

.card-product {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4e5;
  /* border-radius: 15px; */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

body {
  background-color: rgb(222, 222, 222);
  /* background-color: rgb(25, 20, 20); */
}

/* div {
    display: block;
} */

h1 {
  color: rgb(65, 129, 48);
  text-align: center;
}

/* .button-center {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .button-center button {
    padding: 7px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 8px;
    background-color: rgb(90, 148, 3);
    border: none;
    color: #ffffff;
    gap: 20px;
} */

ul {
  list-style: none;
  color: black;
}

li {
  display: grid;
  place-items: center;
  padding: 0%;
}

#pollList {
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 60px;
  align-items: center;
  gap: 100px;
} 


.menu-text {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0px;
  align-items: center;
  gap: 20px;
  
}



.menu a {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
  color: rgb(123, 79, 161);
}

#pollList button {
  display: inline-block;
  padding: 7px;
  border-radius: 8px;
  background-color: #f4f4f4e5;
  border: solid 1px rgba(119, 6, 125, 0.544);
  color: rgba(119, 6, 125, 0.544);
}

.poll-text {
  margin: 10px;
  color: rgb(95, 89, 101);
}

.filters {
  text-align: center;
}

.filters button {
  border: none;
  padding: 7px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: rgb(219, 255, 179);
  display: inline-block;
}

footer {
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  font-size: small;
}