@import "tailwindcss";


#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;

    height: 100%;
   overflow: auto;
    padding: 2rem;
    text-align: center;
}

:root {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* line-height: 1.5; */
    font-weight: 400;

    color-scheme: light dark;
    color: #737791;
    background-color: #737791;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg,
            #beb0fc,
            #ffcecc,
            #d8ecff,
            #fbdbd4);
    animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.slick-track {
  display: flex;
}

.slick-slide {
  display: flex;
  height: auto;
}

.slick-slide>div {
  display: flex;
  height: 100%;
}

.slick-list {
  overflow: visible;   
}

.slick-prev::before,
.slick-next::before {
  display: none !important;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
}

